langchain-openai
langchain===1.3.1
langchain-community==0.4.1
python-dotenv
langchain_core==1.4.0
streamlit
certifi
httpx
langchain-groq
faiss-cpu
pandas
openai
langchain-text-splitters
chromadb
pypdf
pymupdf
bs4
langchain_chroma
sentence_transformers
numpy<2
torch>=2.0.0
torchvision>=0.15.0
transformers>=4.41.0
langchain-classic
ipykernel
langchainhub
validators==0.28.1
youtube_transcript_api
unstructured
pytubefix
pytube
numexpr